html, body {
  height: 100%;
}

/* CSS only for examples not required for centering */
.container {
  height: 100%;
}
.use-none{
  user-select: none;
}
.note {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  padding: 5px;
  background: #eee;
  max-width: 360px;
  border: 1px dotted #bbb;
}

/* show border around full height container */

.h-header {
  height: calc(100% - 90px)!important;
}
#content { 
  height: -moz-calc(100% - 100px); /* Firefox */
  height: -webkit-calc(100% - 100px); /* Chrome, Safari */
  height: calc(100% - 100px); /* IE9+ and future browsers */
  background-color: yellow 
 }

.userheader {
  overflow: hidden;
  background-color: #0f5381;
  padding: 3px 12px;
  width: 100%;
  color: #fff;
  font-size: 16px;

}

.header {  
  overflow: hidden;
  background-color: #fff;
  /* padding: 12px 0px 2px 10px; */
  height: 58px;
  width: 100%;
}
.stepguide{
  font-weight: bold;
  font-size: 23px;
  color: #0f5381;
  padding: 12px 24px;
}
.shadow {
  box-shadow: 0 1.5rem 2rem rgba(0,0,0,.15)!important;
  -webkit-box-shadow: 0 6px 4px -4px black;
  -moz-box-shadow: 0 6px 4px -4px black;
  box-shadow: 0 6px 4px -4px black;
}
.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  
  text-decoration: none;
  
}

.header a.logo {
  font-size: 47px;
}
.header a.logo span{
  font-style: italic;
}

.header a:hover {
  /* background-color: #ddd; */
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}



.m-b-50{
  margin-bottom: 50px;
}
.m-b-60{
  margin-bottom: 60px;
}
.m-b-40{
  margin-bottom: 40px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-b-20{
  margin-bottom: 20px;
}
.m-t-30{
  margin-top: 30px;
}
.p-t-6{
  padding-top: 15px;
}
.fontbold{
  font-weight: bold;
}
.foter{
  overflow: hidden;
    padding: 0px 100px;
    width: 100%;
    color: #fff;
    font-size: 16px;
}

.dwnldTop{
  top:-40px;
}
.img-bg{
  background-color: #f7f7f7!important;
}
.circle{
  background: #0f5381;
  border-radius: 50%;
  padding: 5px 17px;
  color: #fff;
  border: 4px solid #2599ff;
  font-size: 30px;
}
.font-17{
  font-size: 17px;
}
.lineprnts{
  width: 100%;
  position: relative;
  top: 10px;
}
.cursr-point{
  cursor: pointer;
}
.line{
  position: absolute;
  top: 20px;
  bottom: 0px;
  left: 0;
  border: 1px solid #2599ff;
  margin: auto;
  width: 65%;
  right: 0;
}
.btnStyle {
  padding: 8px 20px;
  border: none;
  box-sizing: border-box;
  border-radius: 8px;
  color: #fff;
  background: #0f5381;
  font-size: 16px;
  font-weight: 500;
  position: fixed;
  right: 50px;
  bottom: 40px;
}

.p-lr-80{
  padding: 0 80px;
}
.p-lr-10{
  padding: 0 10px;
}
.m-lr-50{
  margin: 0 50px;
}
.p-lr-50{
  padding: 0px 50px;
}


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }

}

